extends ./layout/layout
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="/img/nosotros.jpg", alt="imagen", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero amet tempore veritatis a sequi vitae dolorem, eveniet saepe odit iusto sint qui dignissimos voluptatum debitis, laboriosam culpa. Hic, magni ab.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, animi culpa, qui corporis veritatis quidem vero earum alias iure unde soluta, dolorem pariatur deserunt accusantium aut veniam itaque debitis minus!
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem reprehenderit quam pariatur perferendis minus vero porro nobis repellendus provident et maiores culpa non, aut laborum dolores, iste aperiam, praesentium dolore.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="/img/icono_seguridad.svg", alt="icono", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia impedit vitae laborum consequuntur dolorum suscipit tempore, iure asperiores est adipisci amet delectus, illo eum fuga voluptatem, harum nemo perspiciatis earum.
                .col-md-4
                    img(src="/img/icono_destinos.svg", alt="icono", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia impedit vitae laborum consequuntur dolorum suscipit tempore, iure asperiores est adipisci amet delectus, illo eum fuga voluptatem, harum nemo perspiciatis earum.
                .col-md-4
                    img(src="/img/icono_precios.svg", alt="icono", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia impedit vitae laborum consequuntur dolorum suscipit tempore, iure asperiores est adipisci amet delectus, illo eum fuga voluptatem, harum nemo perspiciatis earum.